modules = ["python-3.12", "nodejs-20"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["ghdl", "swig", "verilog"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Run Simulation"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Backend API"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Run Simulation"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "export PATH=\"/home/runner/.local/bin:/home/runner/workspace/.pythonlibs/bin:$PATH\"; make test_matadd && make test_matmul"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "Backend API"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "export PATH=\"/home/runner/.local/bin:/home/runner/workspace/.pythonlibs/bin:$PATH\" && python server.py"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd frontend && npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3001
